/* VERSIONE LG */

/* IMPOSTAZIONI GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* IMPOSTAZIONI MAIN */

/* IMPOSTAZIONI GENERALI */

main {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: flex-start;
}

.col-1 {
  width: 230px;
  /* l'altezza è stata determinata togliendo l'altezza del blocco profilo */
  height: calc(100% - 80px);
  background-color: #000;
  overflow-y: auto;
}

.col-2 {
  width: calc(100% - 230px);
  height: 100%;
  background-color: #151924;
  overflow-y: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h3 {
  color: #fff;
  font-size: 25px
}

p {
  color: #616467;
  font-size: 15px;
}

/* COLONNA DI SINISTRA - MAIN */

/* IMPOSTAZIONI GENERALI */

.centratura-1 {
  padding: 3% 8%;
}

/* BLOCCO NAVBAR DI SINISTRA */

/* BLOCCO LOGO */

.col-1 nav .logo {
  height: 60px;
  display: flex;
  align-items: center;
}

.col-1 nav .logo a img {
  height: 40px;
}

.col-1 nav .logo .nav-senza-nomi {
  display: none;
}

/* BLOCCO LINK PRINCIPALI */

.col-1 nav ul li:first-child {
  border-left: solid 3px #b8e600;
}

.col-1 nav ul li:first-child a p, .col-1 nav ul li:first-child a img {
  color: #fff;
  filter: opacity(100%);
}

.col-1 nav ul li a img {
  height: 25px;
  margin-right: 10px;
  filter: opacity(35%);
}

.col-1 a:hover p, .col-1 nav ul li a:hover img {
  color: #fff;
  filter: opacity(100%);
}

/* BLOCCO PLAYLIST */

.col-1 .playlist h5 {
  color: #fff;
  padding-top: 5%;
}

.col-1 .playlist li {
  padding-top: 6%;
}

.col-1 a {
  color: #616467;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.col-1 .playlist li a .piu {
  height: 25px;
  width: 25px;
  font-size: 25px;
  color: #000;
  background-color: #616467;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.col-1 a:hover {
  color: #fff;
}

.col-1 .playlist li a:hover .piu{
  background-color: #fff;
}

/* BLOCCO PROFILO */

.col-1 .profilo {
  position: fixed;
  bottom: 90px;
  left: 0;
  width: 230px;
  height: 80px;
  background-color: #000;
}

.col-1 .profilo .profilo-1 {
  width: 100%;
}

.col-1 .profilo .profilo-1 a img {
  height: 18px;
  margin-right: 10px;
  filter: opacity(35%);
}

.col-1 .profilo .profilo-1 a:hover img {
  filter: opacity(100%);
}

.col-1 .profilo .profilo-1 a p {
  font-size: 12px;
}

.col-1 .profilo .profilo-1 .bordo-grigio {
  width: 100%;
  border-bottom: solid 1px #616467;
  margin: 10px 0;
}

.col-1 .profilo .profilo-1 div:last-child {
  display: flex;
  align-items: center;
}

.col-1 .profilo .profilo-1 div:last-child img {
  height: 25px;
  margin-right: 12px;
  background-color: #616467;
  filter: opacity(100%);
  border-radius: 50%;
}

.col-1 .profilo .profilo-1 div:last-child p {
  color: #fff;
}

/* COLONNA DI DESTRA  - MAIN */

/* IMPOSTAZIONI GENERALI */

.centratura {
  padding: 0 2%;
}

.col-2 section > p {
  margin-top: 5px;
}

/*  BLOCCO UPGRATE  */

#upgrade {
  position: fixed;
  top: 0;
  left:230px;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  height: 60px;
  width: calc(100% - 230px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#upgrade button {
  border: solid 1px #fff;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  height: 35px;
  width: 200px;
  font-size: 12px;
  border-radius: 17.5px;
  margin-right: 22px;
}

#upgrade button:hover {
  transform: scale(1.2);
  cursor:pointer;
}

/* BLOCCO NAVBAR-MAIN */

#navbar-main {
  padding-top: 70px;
}

#navbar-main ul {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

#navbar-main li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 13px;
}

#navbar-main li:last-child {
  margin: 0;
}

#navbar-main a {
  color: #616467;
  font-size: 12px;
}

#navbar-main a:hover {
  color: #fff;
}

#navbar-main .bordo-giallo {
  width: 23px;
  border-bottom: solid 2.5px #b8e600;
}

/* BLOCCO RICERCHE RECENTI */

#ricerche-recenti {
  padding-top: 15px;
}

.layout-img {
  padding-top: 15px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.layout-img > div {
  width: calc(90% / 6);
  margin-right: 2%;
  display: flex;
  flex-direction: column;
}

.layout-img > div:last-child {
  margin-right: 0;
}

.layout-img > div .album {
  width: 100%;
  max-height: 90%;
  position: relative;
}

.layout-img > div .album img {
  max-height: 100%;
  width: 100%;
}

.layout-img i {
  display: none;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px;
}

.layout-img > div > p {
  font-size: 12px;
  margin-bottom: 15px;
  text-align: center;
}

.layout-img > div > a {
  color: #fff;
  font-size: 15px;
  margin-bottom: 5px;
  text-align: center;
}

.layout-img > div a:hover {
  text-decoration: underline;
}

.layout-img > div .album:hover i {
  display: block;
  cursor: pointer;
}

.layout-img > div .album:hover img {
  filter: grayscale(100%) opacity(50%);
}

/* BLOCCO CREATO PER TE */

#creato-per-te {
  padding-top: 10px;
}

#creato-per-te .layout-img > div > a {
  color: #fff;
  font-size: 15px;
  margin-bottom: 15px;
  text-align: center;
}

/* BLOCCO ARTISTI POPOLARI */

#artisti-popolari {
  padding-top: 10px;
}

#artisti-popolari .layout-img > div .album img {
  border-radius: 50%;
}

/* IMPOSTAZIONI FOOTER */

footer {
  width: 100%;
  height: 90px;
  padding: 0 2% 0 0.5%;
  background-color: #222224;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer h5 {
  font-size: 15px;
  color: #fff;
}

footer a {
  font-size: 13px;
  color: #616467;
}

footer i {
  font-size: 13px;
  color: #fff;
}

/* BLOCCO BRANO IN ASCOLTO */

footer .brano-in-ascolto {
  width: 30%;
}

footer .brano-in-ascolto-1 {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .brano-in-ascolto-1 .album-1 {
  max-width: 30%;
}

footer .brano-in-ascolto-1 .album-1 img {
  width: 100%;
  max-height: 70px;
}

footer .brano-in-ascolto-1 .titolo-brano {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .brano-in-ascolto-1 .titolo-brano a:hover {
  text-decoration: underline;
  color: #fff;
}

footer .brano-in-ascolto-1 .preferiti {
  width: 22%;
  display: flex;
  justify-content: space-between;
}

footer .brano-in-ascolto-1 .preferiti a i {
  font-size: 15px;
  color: #616467;
}

footer .brano-in-ascolto-1 .preferiti a i:hover {
  color: #fff;
}

/* BLOCCO PLAY */

footer .play {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .play .comandi-play {
  width: 50%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .play .comandi-play a:nth-last-child(3) i{
  font-size: 30px;
}

footer .play .comandi-play a:nth-last-child(3):hover i{
  transform: scale(1.2);
}

footer .play .tempo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .play .tempo p {
  color: #fff;
  font-size: 12px;
}

footer .play .tempo > div {
  width: 80%;
}

.barra {
  border-bottom: solid 2.5px #616467;
  position: relative;
}

.avanzamento {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 15%;
  border-bottom: solid 2.5px #fff;
}

.avanzamento:hover {
  border-color: #b8e600;
  cursor: pointer;
}

.pallino-avanzamento {
  position: absolute;
  bottom: -7px;
  left: 100%;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #fff;
  display: none;
}

.avanzamento:hover .pallino-avanzamento {
  display: block;
}

.pallino-avanzamento:hover {
  cursor: pointer;
}

/* BLOCCO VOLUME */

footer .volume {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

footer .volume-1 {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .volume-1 > div {
  width: 55%;
}

/* VERSIONE MD */

@media all and (max-width: 1200px) {

  /* COLONNA DI DESTRA  - MAIN */

  /* BLOCCO NAVBAR-MAIN */

  #navbar-main ul {
    align-content: space-between;
    width: 100%;
    max-width: 500px;
    min-height: 60px;
  }

  /* BLOCCO RICERCHE RECENTI *//* BLOCCO CREATO PER TE */

  .layout-img > div {
    width: calc(92% / 4);
  }

  /* IMPOSTAZIONI FOOTER */

  /* BLOCCO BRANO IN ASCOLTO */

  footer .brano-in-ascolto-1 {
    width: 80%;
  }

  footer .brano-in-ascolto-1 .album-1 img {
    min-width: 50px;
  }

  /* BLOCCO PLAY */

  footer .play .comandi-play {
    width: 60%;
  }

  /* BLOCCO VOLUME */

  footer .volume-1 {
    width: 80%
  }

}

/* VERSIONE S */

@media all and (max-width: 800px) {

  /* COLONNA DI DESTRA  - MAIN */

  /* BLOCCO NAVBAR-MAIN */

  #navbar-main ul {
    max-width: 350px;
  }

  /* BLOCCO RICERCHE RECENTI *//* BLOCCO CREATO PER TE */

  .layout-img > div {
    width: calc(96% / 2);
  }

  /* IMPOSTAZIONI FOOTER */

  /* BLOCCO BRANO IN ASCOLTO */

  footer .brano-in-ascolto .preferiti {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  footer .brano-in-ascolto-1 {
    width: 90%;
  }

  /* BLOCCO PLAY */

  footer .play .comandi-play {
    width: 70%;
  }

  footer .play .tempo > div {
    width: 75%;
  }

  /* BLOCCO VOLUME */

  footer .volume-1 {
    width: 90%;
  }

}

/* VERSIONE XS */

 @media all and (max-width: 600px) {

  /* IMPOSTAZIONI MAIN */

  /* IMPOSTAZIONI GENERALI */

  .col-1 {
    width: 50px;
  }

  .col-2 {
    width: calc(100% - 50px);
  }

  /* COLONNA DI SINISTRA  - MAIN */

  /* IMPOSTAZIONI GENERALI */

  .col-1 .nav-nomi {
    display: none;
  }

  .col-1 a  {
    justify-content: center;
  }

  /* BLOCCO LOGO */

  .col-1 nav .logo .nav-senza-nomi {
    display: block;
  }

  .col-1 nav .logo {
    justify-content: center;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .col-1 nav .logo a img {
    height: 25px;
  }

  /* BLOCCO LINK PRINCIPALI */

  .col-1 nav ul li:first-child {
    border-left: 0;
  }

  .col-1 nav ul li a img {
    margin-right: 0;
  }

  /* BLOCCO PROFILO */

  .col-1 .profilo {
    width: 50px;
    display: flex;
    align-items: flex-end;
  }

  .col-1 .profilo .profilo-1 a img {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .col-1 .profilo .profilo-1 div:last-child  {
    justify-content: center;
  }

  .col-1 .profilo .profilo-1 div:last-child img {
    margin-right: 0px;
  }

  /* COLONNA DI DESTRA  - MAIN */

  /*  BLOCCO UPGRATE  */

  #upgrade {
    left: 50px;
    width: calc(100% - 50px);
  }

  /* BLOCCO NAVBAR-MAIN */

  #navbar-main ul {
    max-width: 379px;
  }

  /* IMPOSTAZIONI FOOTER */

  /* BLOCCO BRANO IN ASCOLTO */

  footer .brano-in-ascolto-1 .album-1 img {
    min-width: 0;
    max-width: 100%;
    min-height: 40px;
  }

  footer .brano-in-ascolto-1 {
    width: 99%;
  }

  /* BLOCCO PLAY */

  footer .play .comandi-play {
    width: 80%;
  }

  footer .play .tempo > div {
    width: 75%;
  }

  /* BLOCCO VOLUME */

  footer .volume-1 {
    width: 99%;
  }

}
