/* VERSIONE LG */

/* IMPOSTAZIONI GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* IMPOSTAZIONI MAIN */

/* IMPOSTAZIONI GENERALI */

main {
  width: 100%;
  height: calc(100vh - 90px);
}

.row {
  width: 100%;
  height: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  float:left;
  width: 230px;
  height: 100%;
  background-color: #000;
  overflow-y: auto;
  position: relative;
  color: #fff;
}

.col-2 {
  float:left;
  width: calc(100% - 230px);
  height: 100%;
  background-color: #272836;
  overflow-y: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h3 {
  color: #fff;
  font-size: 35px
}

p {
  color: #616467;
  font-size: 15px;
}

/* PRIMA COLONNA MAIN */

/* IMPOSTAZIONI GENERALI */

.centratura-1 {
  padding: 3% 8%;
}

/* BLOCCO NAVBAR DI SINISTRA */

/* BLOCCO LOGO */

.col-1 nav .logo {
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 5%;
}

.col-1 nav .logo a img {
  height: 40px;
}

.col-1 nav .logo .nav-senza-nomi {
  display: none;
}

/* BLOCCO LINK PRINCIPALI */

.col-1 nav ul li:first-child {
  border-left: solid 3px #b8e600;
}

.col-1 nav ul li:first-child a p, .col-1 nav ul li:first-child a img {
  color: #fff;
  filter: opacity(100%);
}

.col-1 nav ul li a img {
  height: 25px;
  margin-right: 10px;
  filter: opacity(35%);
}

.col-1 a:hover p, .col-1 nav ul li a:hover img {
  color: #fff;
  filter: opacity(100%);
}

/* BLOCCO PLAYLIST */

.col-1 .playlist {
  padding-top: 25px;
}

.col-1 .playlist li {
  padding-top: 6%;
}

.col-1 a {
  color: #616467;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.col-1 .playlist li a .piu {
  height: 25px;
  width: 25px;
  font-size: 25px;
  color: #000;
  background-color: #616467;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.col-1 a:hover {
  color: #fff;
}

.col-1 .playlist li a:hover .piu{
  background-color: #fff;
}

/* BLOCCO PROFILO */

.col-1 .profilo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
}

.col-1 .profilo a img {
  height: 18px;
  margin-right: 10px;
  filter: opacity(35%);
}

.col-1 .profilo a:hover img {
  filter: opacity(100%);
}

.col-1 .profilo a p {
  font-size: 12px;
}

.col-1 .profilo .bordo-grigio {
  width: 100%;
  border-bottom: solid 1px #616467;
  margin: 10px 0;
}

.col-1 .profilo span {
  display: flex;
  align-items: center;
}

.col-1 .profilo span img {
  height: 25px;
  margin-right: 12px;
  background-color: #616467;
  filter: opacity(100%);
  border-radius: 50%;
}

.col-1 .profilo span p {
  color: #fff;
}

/* SECONDA COLONNA MAIN */

/* IMPOSTAZIONI GENERALI */

.centratura {
  padding: 0 2%;
}

.col-2 section > p {
  margin-top: 10px;
}

/*  BLOCCO UPGRATE  */

#upgrade {
  position: fixed;
  top: 0;
  left:230px;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  height: 90px;
  width: calc(100% - 230px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#upgrade button {
  border: solid 1px #fff;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  height: 40px;
  width: 200px;
  font-size: 12px;
  border-radius: 20px;
  margin-right: 22px;
}

#upgrade button:hover {
  transform: scale(1.2);
  cursor:pointer;
}

/* BLOCCO NAVBAR-MAIN */

#navbar-main {
  padding-top: 110px;
}

#navbar-main ul {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

#navbar-main li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 13px;
}

#navbar-main li:last-child{
  margin: 0;
}

#navbar-main a {
  color: #616467;
  font-size: 12px;
}

#navbar-main a:hover {
  color: #fff;
}

#navbar-main .bordo-giallo {
  width: 23px;
  border-bottom: solid 2.5px #b8e600;
}

/* BLOCCO RICERCHE RECENTI */

#ricerche-recenti {
  padding-top: 30px;
}

.layout-img {
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.layout-img > div {
  width: calc(90% / 6);
  margin-right: 2%;
  display: flex;
  flex-direction: column;
}

.layout-img > div:last-child {
  margin-right: 0;
}

.layout-img > div .album {
  width: 100%;
  max-height: 90%;
  position: relative;
}

.layout-img > div .album img {
  max-height: 100%;
  width: 100%;
}

.layout-img i {
  display: none;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px;
}

.layout-img > div > p {
  margin-bottom: 15px;
  text-align: center;
}

.layout-img > div > a {
  color: #fff;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.layout-img > div a:hover {
  text-decoration: underline;
}

.layout-img > div .album:hover i{
  display: block;
  cursor: pointer;

}

.layout-img > div .album:hover img {
  filter: grayscale(100%) opacity(50%);
}

/* BLOCCO CREATO PER TE */

#creato-per-te {
  padding-top: 30px;
}

#creato-per-te .layout-img > div > a {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

/* BLOCCO ARTISTI POPOLARI */

#artisti-popolari {
  padding-top: 30px;
}

#artisti-popolari .layout-img > div .album img {
  border-radius: 50%;
}

/* IMPOSTAZIONI FOOTER */

footer {
  width: 100%;
  height: 90px;
  background-color: #616467;
}

/* VERSIONE MD */

@media all and (max-width: 1127px) {

  /* SECONDA COLONNA MAIN */

  /* BLOCCO NAVBAR-MAIN */

  #navbar-main ul {
    align-content: space-between;
    width: 100%;
    max-width: 500px;
    min-height: 60px;
  }

  /* BLOCCO RICERCHE RECENTI *//* BLOCCO CREATO PER TE */

  .layout-img > div {
    width: calc(92% / 4);
  }

}

/* VERSIONE S */

@media all and (max-width: 830px) {

  /* SECONDA COLONNA MAIN */

  /* BLOCCO NAVBAR-MAIN */

  #navbar-main ul {
    max-width: 350px;
  }

  /* BLOCCO RICERCHE RECENTI *//* BLOCCO CREATO PER TE */

  .layout-img > div {
    width: calc(96% / 2);
  }

}

/* VERSIONE XS */

 @media all and (max-width: 600px) {

  /* IMPOSTAZIONI MAIN */

  /* IMPOSTAZIONI GENERALI */

  .col-1 {
    width: 50px;
  }

  .col-2 {
    width: calc(100% - 50px);
  }

  /* PRIMA COLONNA MAIN */

  .col-1 .nav-nomi {
    display: none;
  }

  .col-1 nav .logo .nav-senza-nomi {
    display: block;
  }

  .col-1 nav .logo {
    justify-content: center;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .col-1 nav .logo a img {
    height: 25px;
  }

  .col-1 nav ul li:first-child {
    border-left: 0;
  }

  .col-1 a, .col-1 span {
    justify-content: center;
  }

  .col-1 nav ul li a img {
    margin-right: 0;
  }

  /* BLOCCO PROFILO */

  .col-1 .profilo a img {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .col-1 .profilo span img {
    margin-right: 0px;
  }

  /* SECONDA COLONNA MAIN */

  /*  BLOCCO UPGRATE  */

  #upgrade {
    left: 50px;
    width: calc(100% - 50px);
  }

  /* BLOCCO NAVBAR-MAIN */

  #navbar-main ul {
    max-width: 379px;
  }

}
